.theApp {
	letter-spacing: 2px;
	text-align: center;
	position: relative;
}

.partOne, .partTwo, .partThree {
	display: none;
}

.partOne {
	background: #f18f01;
}

.partTwo {
	background: #15181f;
}

.absolute{
	min-height: 100vh;
	position: relative;
}

.theAppDetails{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.iconBackdrop {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 60%;
	height: 100vh;
	margin: 0;
	opacity: 0.05;
}

.iconBackdropLight {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 60%;
	height: 100vh;
	margin: 0;
	opacity: 0.05;
}

h2 {
	font-family: "Abril Fatface";
	color: rgba(225,225,225,0.8);
	font-size: 50px;
	transition: all 0.3s;
}

.inputField {
  position: relative;
  margin-right: 2vw;
  border-bottom: 1px solid white;
  padding-bottom: 2vh;
  width: 700px; 
  margin: 0 auto;
}

 
 .inputField #location {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 90%;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 200;
    float: left; }
    .inputField #location::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #fff;
      opacity: .5; }
      .inputField #location[type=text]:focus {
      outline: none; }

    .inputField #submit {
      width: 50px;
      height: 50px;
      text-indent: -100000px;
      border: none;
      background-color: transparent;
      float: right;
      display: inline-block;
      background-image: url(../../dev/assets/search.png);
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center center; }

//Load MORE section
.cocktailResultsItem{
	display: none; 
	float: left;
	width: calc(33.3% - 26px);
	margin: 13px;
	text-align: center;
	border: 1px solid white;
	padding: 15px 20px;
	background: #fff;
	h3{
		font-size: 12px;
		text-transform: uppercase;
	}
}

.cocktailResultsItem:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.1);
}


//we need this to display dynamically after all cocktails loaded
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
}


#loadMore {
	display: none;
	margin: 0 auto;
	margin-top: 20px;
	width: 40%;
	background: rgba(255, 255, 255, 0.25);
	border: 5px solid #fff;
	color: #fff;
	text-align: center;
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E ;
}

#loadMore, .totop{
	a, a:visited {
	    color: #33739E ;
	    text-decoration: none;
	    display: block;
	    margin: 10px 0;
	}
	a:hover {
	    text-decoration: none;
	}
}

.liquorChoice{
	float: left;
	width: calc((100% / 6) - 13px);
	margin: 13px 13px 13px 0;
	display: block;
	background: rgba(255, 255, 255, 0.25);
	border: 5px solid #fff;
	color: #fff;
	// border-radius: 10px;
	text-align: center;
	padding: 30px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}

.liquorChoice:hover{
	background: #fff;
	border: 5px solid #fff;;
	color: #15181f;
}



.drinkResults{
	position: relative;
}

.cocktailResults, .lcboResults, .whatBooze{
	position: absolute;
}

.inventoryChoice{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.typeOfLiquor{
	float: left;
	width: 100%;
	margin-bottom: 3%;
	input {
		display: none;
	}
}

.type{
	clear: both;
	text-align: center;
	margin-bottom: 3%;
}

a#giveMeRecipe {
	display: block;
}


.lcboDrinkOptions{
    float: left;
    width: calc(33.3% - 26px);
    margin: 13px;
    text-align: center;
    border: 1px solid white;
    padding: 15px 20px;
    background: #fff;
    height: 400px;
    h3{
        font-size: 12px;
        text-transform: uppercase;
    }
}


//RESPONSIVE

/* Portrait tablet and small desktops */
@media screen and (max-width: 971px) {
	h3.resultsItemTitle{
		width: 150px;
		height: 50px;
		margin: 0 auto;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 870px) {
	.cocktailResultsItem{
		width: calc(50% - 26px);
		margin: 13px;
	}

	.liquorChoice{
		width: calc((100% / 3) - 26px);
		margin: 13px 13px 13px 13px;
	}
}

@media (max-width: 800px) {
	.inputField{
		width: 600px;
		#location{
			font-size: 25px;
		}
	}
	.lcboDrinkOptions{
		width: calc(50% - 26px);
		margin: 13px;
	}
}

@media (max-width: 680px) {
	.inputField{
		width: 500px;
		#location{
			font-size: 20px;
		}
	}

}


/* Landscape phones and down */
@media (max-width: 480px) {
	h2.inputQuestion{
		font-size: 30px;
	}

	.inputField{
		width: 400px;
		#location{
			font-size: 15px;
		}
		#submit{
			width: 40px;
			height: 40px;
		}
	}
	input#submit{
		width: 30px;
		height: 30px;
	}

	.liquorChoice{
		width: calc((100% / 2) - 26px);
		margin: 13px 13px 13px 13px;
	}

	h2.partTwoHeader{
		font-size: 40px;
	}

	.cocktailResultsItem{
		width: calc(100% - 26px);
		margin: 13px;
	}

	.lcboDrinkOptions{
		width: calc(100% - 26px);
		margin: 13px;
	}
}