footer{
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
	display: none;
}

.footerText h3{
	font-size: 20px;
	margin-bottom: 30px;
}

.social{
	margin-bottom: 30px;
}

.social i{
	color:  white;
	text-align: center;
	border: 1px solid #303030;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	line-height: 40px;
}

.fa-twitter:hover{
	background: #4099FF;
}

.fa-facebook:hover{
	background: #3b5998;
}

.fa-instagram:hover{
	background: -webkit-linear-gradient(#400080, transparent), 
    -webkit-linear-gradient(20deg, #d047d1, #ff0000, #ffff00);
	background: -o-linear-gradient(#400080, transparent), 
    -o-linear-gradient(20deg, #d047d1, #ff0000, #ffff00);
	background: linear-gradient(#400080, transparent), 
    linear-gradient(110deg, #d047d1, #ff0000, #ffff00);;;
}




