// font-family: 'Open Sans', sans-serif;
// font-family: 'Abril Fatface', cursive;

body{
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	max-width: 1050px;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

