header {
	background-image: linear-gradient(rgba(0,0,0, 0.10), rgba(0,0,0,0.40)), url(../../dev/assets/background.jpg);
	height: 100vh;
	background-size: cover;
}

h1 {
	color: #fff;
	font-size: 110px;
	font-family: 'Abril Fatface', cursive;
	width: 50%;
	margin: 0;
	margin-bottom: 50px;
	letter-spacing: 3px;
}

header a {
	color: #fff;
	border: 5px solid #fff;
	background: rgba(255, 255, 255, 0.25);
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}

header a:hover {
	background: #fff;
	border: 5px solid #fff;
	color: #362412;
}

.relative {
	height: 50vh;
	position: relative
}

.content {

	position: absolute;
	top: 50%;
	transform: translateY(0, -50%);
}