header {
	background-image: linear-gradient(rgba(0,0,0, 0.10), rgba(0,0,0,0.40)), url(../../dev/assets/background.jpg);
	height: 100vh;
	background-size: cover;
}

h1 {
	color: rgba(225, 225, 225, 0.9);
	font-size: 110px;
	font-family: 'Abril Fatface', cursive;
	width: 50%;
	margin: 0;
	margin-bottom: 50px;
	letter-spacing: 3px;
}

header a {
	color: rgba(225, 225, 225, 0.9);
	border: 1px solid white;
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}

header a:hover {
	background: rgba(199, 62, 29, 0.8);
	border: 1px solid rgba(199, 62, 29, 0.8);
}

.relative {
	height: 50vh;
	position: relative
}

.content {

	position: absolute;
	top: 50%;
	transform: translateY(0, -50%);
}