article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #15181f; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto; }

img {
  max-width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))), url(../../dev/assets/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(../../dev/assets/background.jpg);
  height: 100vh;
  background-size: cover; }

h1 {
  color: #fff;
  font-size: 110px;
  font-family: 'Abril Fatface', cursive;
  width: 50%;
  margin: 0;
  margin-bottom: 75px;
  letter-spacing: 3px; }

header a {
  color: #fff;
  border: 5px solid #fff;
  background: rgba(255, 255, 255, 0.25);
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

header a:hover {
  background: #fff;
  border: 5px solid #fff;
  color: #362412; }

.relative {
  height: 50vh;
  position: relative; }

.content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(0, -50%);
          transform: translateY(0, -50%); }

.theApp {
  letter-spacing: 2px;
  text-align: center;
  position: relative; }

.partOne {
  background: #f18f01; }

.absolute {
  min-height: 100vh;
  position: relative; }

.theAppDetails {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.iconBackdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  margin: 0;
  opacity: 0.05; }

.iconBackdropLight {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 60%;
  height: 100vh;
  margin: 0;
  opacity: 0.05; }

h2 {
  font-family: "Abril Fatface";
  color: #fff;
  font-size: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.inputField {
  position: relative;
  margin-right: 2vw;
  border-bottom: 1px solid white;
  padding-bottom: 2vh;
  width: 700px;
  margin: 0 auto; }

.inputField #location {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 90%;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 200;
  float: left; }

.inputField #location::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  opacity: 0; }

.inputField #location[type=text]:focus {
  outline: none; }

.inputField #submit {
  width: 50px;
  height: 50px;
  text-indent: -100000px;
  border: none;
  background-color: transparent;
  float: right;
  display: inline-block;
  background-image: url(../../dev/assets/search.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center; }

.cocktailResultsItem {
  display: none;
  float: left;
  width: calc(33.3% - 26px);
  margin: 13px;
  text-align: center;
  border: 1px solid white;
  padding: 15px 20px;
  background: #fff; }
  .cocktailResultsItem h3 {
    font-size: 14px;
    text-transform: uppercase; }

.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none; }

#loadMore a, #loadMore a:visited, .totop a, .totop a:visited {
  color: #33739E;
  text-decoration: none;
  display: block;
  margin: 10px 0; }

#loadMore a:hover, .totop a:hover {
  text-decoration: none; }

#loadMore {
  padding: 10px;
  text-align: center;
  background-color: #33739E;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  -webkit-box-shadow: 0 1px 1px #ccc;
          box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out; }

#loadMore:hover {
  background-color: #fff;
  color: #33739E; }

.cocktailResultsItem:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.partTwo {
  background: #15181f; }

.liquorChoice {
  float: left;
  width: calc((100% / 6) - 13px);
  margin: 13px 13px 13px 0;
  display: block;
  background: rgba(255, 255, 255, 0.25);
  border: 5px solid #fff;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.liquorChoice:hover {
  background: #fff;
  border: 5px solid #fff;
  color: #15181f; }

.drinkResults {
  position: relative; }

.cocktailResults, .lcboResults, .whatBooze {
  position: absolute; }

.inventoryChoice {
  display: block;
  margin: 0 auto;
  text-align: center; }

.typeOfLiquor {
  float: left;
  width: 100%;
  margin-bottom: 3%; }
  .typeOfLiquor input {
    display: none; }

.type {
  clear: both;
  text-align: center;
  margin-bottom: 3%; }

.partThree {
  background: #c73e1d; }

a#giveMeRecipe {
  display: block; }

footer {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px; }

.footerText h3 {
  font-size: 20px;
  margin-bottom: 30px; }

.social {
  margin-bottom: 30px; }

.social i {
  color: white;
  text-align: center;
  border: 1px solid #303030;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  line-height: 40px; }

.fa-twitter:hover {
  background: #4099FF; }

.fa-facebook:hover {
  background: #3b5998; }

.fa-instagram:hover {
  background: linear-gradient(#400080, transparent), linear-gradient(110deg, #d047d1, #ff0000, #ffff00); }
